/Code/HotelSoftware/nbproject/private/
/Code/HotelSoftware/build/
/Code/HibernateTest/nbproject/private/
/Code/HibernateTest/dist/
/Code/HibernateTest/build/
/Code/Netbeans/GUI1/nbproject/private/
/Code/Netbeans/GUI1/build/
/Code/HotelSoftware/nbproject/project.properties
/Code/HotelSoftware/dist/
/Code/HotelSoftware/nbproject/project.properties
*.DS_Store
/Code/OnlineReservation/build/*
/Code/OnlineReservation/dist/
/Code/OnlineReservation/nbproject/private/*
/Code/OnlineReservation/nbproject/findbugs.settings