html, body {
    background-color: #ccc;
	color:#434343; 
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin:0;
	padding:0;
	width:100%;
	height:100%;
	text-align:center;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  18px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

h4 {
	font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  14px;
    font-weight: bold;
    margin: 8px;
    padding: 0px;
    color: #000;
	display:inline-block;
	width:300px;
}

#header {
	text-align:center;
	height:150px;
	background: #daffff;	
}

#header img {
	height: 100%;
	float:right;
}

#logoutbox {
	width:100%;	
}

#logoutbox span {
	float:right;
}

.innercontent {
	padding:10px;	
}

#contentarea {
	margin: 0 auto;
	text-align:left;
	background-color:#fff;
	min-height:100%;
	width:1000px;
	box-shadow: 8px 0 10px #777, -8px 0 10px #777;
	-moz-box-shadow: 8px 0 10px  #777, -8px 0 10px #777;
 	-webkit-box-shadow: 8px 0 10px #777, -8px 0 10px #777;
	position:relative;
}

#pagecontent {
	margin-top:50px;
	margin-bottom:20px;
	min-height:100px;
}

#slideshowarea {
	height:250px;
	padding:5px;
}

#slides {
	margin: 0 auto;	
}

#footer {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	background:#daffff;
	height:20px;
	padding:4px;
	text-align:right;
}

#commentary {
	margin-bottom:10px;	
}

#commentary textarea{
	vertical-align:middle;
}

#login, #invoiceAddressData, #rechnungsansicht {
	text-align:center;
}

#login table, #invoiceAddressData table, #rechnungsansicht table {
	margin:0 auto;
	text-align:left;	
}

input[type=submit], input[type=button] {
	border:2px solid;
	border-color: #ebffff #ebffff #33cccc #33cccc;
	font-weight:bold;
	background:#daffff;
}

input[type=submit]:hover, input[type=button]:hover {
	/*border-color: #33cccc #33cccc #ebffff #ebffff;*/
	background:#aaffff;
}

input[type=text], input[type=email], input[type=password], select {
	width:225px;
}

a:link, a:visited {
	color: #33cccc;
	font-weight : bold;
	text-decoration: none;
}

a:link:hover, a:visited:hover  {
	color: #33cccc;
	font-weight : bold;
	text-decoration : underline;
}

.addReservationItemBox {
	text-align:center;
}

.addReservationItemBox input {
	vertical-align:middle;
	width:20px;
	height:auto;
}

.minMaxRemove {
	position:absolute;
	top:5px;
	right:5px;
}

.minMaxRemove input {
	vertical-align:middle;
	width:20px;
	height:auto;
}

.error {
	font-style:italic;
	color:#f00;	
}

.sepparator {
	width:100%;
	height:0px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, rgb(14,173,173)), color-stop(0.67, rgb(0,255,255)));
	background-image: -moz-linear-gradient(left bottom, #fff 0%, #777 30%, #454545 50%, #777 70%, #fff 100% );
	padding: 1px;
	margin-bottom:15px;
}

.cls {
	clear:both;
}