<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Online-Reservation Template</title>
<link href="css/default.css" type="text/css" rel="stylesheet" />
<link href="css/global.css" type="text/css" rel="stylesheet" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="js/slides.min.jquery.js" type="text/javascript"></script>
<script src="js/functions.js" type="text/javascript"></script>
</head>

<body>
<div id="contentarea">
<div id="header"><img src="images/logo.png" alt="hotellogo" /></div>
<div class="innercontent">
<div id="logoutbox"><span><a href="#">login</a> | <a href="#">change userdata</a></span><div class="cls"></div></div>
<div id="slideshowarea">
<div id="slides">
<div class="slides_container">
<div class="slide">
<img src="img/room1.jpg">
<div class="caption" style="bottom:0">
    <span>Doppelzimmer</span>
</div>
</div>
<div class="slide">
<img src="img/room2.jpg">
</div>
<div class="slide">
<img src="img/slide-3.jpg">
</div>
<div class="slide">
<img src="img/slide-4.jpg">
</div>
</div>
</div>
</div>
<div id="pagecontent"></div>
</div>
<div id="footer">Impressum</div>
</div>
</body>
</html>
